*{
    margin:0;
    padding:0;
}
body{
    background-color: aqua;
    text-align: center;
    margin-top: 6vmin;
    
}
body,h1{
    font-size: 42px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.7);
    font-size: 12vmin;
}

.reset-game{
    padding:1rem;
    border-radius: 1vmin;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.7);
    margin-top: 2vmin;
    font-size: 19px;
    color:white;
    background-color: black;

}
.mess-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    
    

}
#msg{
    /* display: flex; */

    color: white;
    font-size: 8vmin;
    margin: 2vmin;
  
   
}

#new-btn{
    padding:1rem;
    border-radius: 1vmin;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.7);
    margin-top: 10px;
    font-size: 19px;
    color:white;
    background-color: black;
    margin-bottom:2vmin ;
    border :none;

}


.hide{
    display: none;
}